aiofiles==0.7.0
altair==4.1.0
argon2-cffi==21.1.0
astor==0.8.1
attrs==21.2.0
backcall==0.2.0
base58==2.1.0
biopython==1.79
bleach==4.1.0
blinker==1.4
blis==0.7.4
cachetools==4.2.2
catalogue==2.0.4
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.3
click==7.1.2
colorama==0.4.4
cupy-cuda111==9.0.0
cycler==0.10.0
cymem==2.0.5
debugpy==1.4.3
decorator==5.1.0
defusedxml==0.7.1
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.1.0/en_core_web_sm-3.1.0-py3-none-any.whl
entrypoints==0.3
fastapi==0.68.0
fastrlock==0.6
filelock==3.0.12
gitdb==4.0.7
GitPython==3.1.24
h11==0.12.0
huggingface-hub==0.0.8
idna==3.2
ipykernel==6.4.1
ipython==7.27.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
jedi==0.18.0
Jinja2==3.0.1
joblib==1.0.1
jsonschema==3.2.0
jupyter-client==7.0.3
jupyter-core==4.8.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
kiwisolver==1.3.2
MarkupSafe==2.0.1
matplotlib==3.4.3
matplotlib-inline==0.1.3
mistune==0.8.4
murmurhash==1.0.5
nbclient==0.5.4
nbconvert==6.1.0
nbformat==5.1.3
nest-asyncio==1.5.1
nltk==3.6.2
notebook==6.4.4
numpy==1.21.1
packaging==21.0
pandas==1.3.2
pandocfilters==1.5.0
parso==0.8.2
pathy==0.6.0
peewee==3.14.4
pickleshare==0.7.5
Pillow==8.3.1
plac==1.1.3
preshed==3.0.5
prometheus-client==0.11.0
prompt-toolkit==3.0.20
protobuf==3.18.0
pyarrow==5.0.0
pycparser==2.20
pydantic==1.8.2
pydeck==0.7.0
Pygments==2.10.0
PyJWT==2.1.0
pyparsing==2.4.7
pyrsistent==0.18.0
python-dateutil==2.8.2
pytz==2021.1
pywin32==301
pywinpty==1.1.4
PyYAML==5.4.1
pyzmq==22.3.0
regex==2021.7.6
requests==2.26.0
sacremoses==0.0.45
scikit-learn==0.24.2
scipy==1.7.1
Send2Trash==1.8.0
six==1.16.0
sklearn==0.0
smart-open==5.1.0
smmap==4.0.0
spacy==3.1.1
spacy-alignments==0.8.3
spacy-legacy==3.0.8
spacy-streamlit==1.0.2
spacy-transformers==1.0.3
srsly==2.4.1
starlette==0.14.2
streamlit==0.88.0
terminado==0.12.1
testpath==0.5.0
thinc==8.0.8
threadpoolctl==2.2.0
tokenizers==0.10.3
toml==0.10.2
toolz==0.11.1
torch==1.9.0+cu111
torchaudio==0.9.0
torchvision==0.10.0+cu111
tornado==6.1
tqdm==4.61.2
traitlets==5.1.0
transformers==4.6.1
typer==0.3.2
typing-extensions==3.10.0.0
tzdata==2021.1
tzlocal==3.0
urllib3==1.26.6
uvicorn==0.13.4
validators==0.18.2
wasabi==0.8.2
watchdog==2.1.5
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.5.1
